
/* GENERAL */
.aui-page-panel-inner {
	width: 100% !important;
}


/* LOADER  */

.loader {
	position: relative;
	margin: 0px auto;
	width: 100px;
}

.loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.circular {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	height: 100%;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

@-webkit-keyframes color {

	100%,
	0% {
		stroke: #d62d20;
	}

	40% {
		stroke: #0057e7;
	}

	66% {
		stroke: #008744;
	}

	80%,
	90% {
		stroke: #ffa700;
	}
}

@keyframes color {

	100%,
	0% {
		stroke: #d62d20;
	}

	40% {
		stroke: #0057e7;
	}

	66% {
		stroke: #008744;
	}

	80%,
	90% {
		stroke: #ffa700;
	}
}
.hide-loader{
	display: none;
}
/* LOADER */


#content > .aui-page-header:first-child{
	width: auto;
}

.wrapping-container {
	width: 100%;
	display: flex;
	margin: 20px 0;
}
.issues-container, .branches-container {
	background-color: #efefef;
	width: 50%;
	margin: 0 5px;
	padding: 10px 20px;
}

.card {
	background-color: #f6f8fa;
	text-align: center;
    margin-top: 10px;
	box-shadow: 2px 2px 2px 0px #d2d2d2;
	border-radius: 3px;
	border: 1px solid #d2d2d2;
}

.assignee-img {
	vertical-align: middle;
	width: 25px;
}

.issue-key {
	background: #0647a6;
	color: #DEEBFF;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	padding: 5px 10px;
}

.issue-summary {
	padding: 5px 10px;
    margin-top: 5px;
    min-height: fit-content;
}

.issue-data {
	padding: 0px 10px 5px 10px;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.isssue-type-avatar {
	vertical-align: text-bottom;
}

.aui-button[disabled].total-issues {
	color: black;
	background: transparent;
	border: none;
}
span.aui-iconfont-devtools-arrow-left{
	align-self: center;
}




/* ///////////////////////////// */
/* github */

.github-title{
	background: #23282e;
	color: #DEEBFF;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	padding: 5px 10px;
}