.github-modal {
    vertical-align: top !important;
    height: 200px;
}

.name-label {
    width: auto !important;
}

#github-org-name , 
#github-repo-name {
    margin-left: 20px;    
}

.conformation-box {
    margin: 20px 0;
    display: flex;
}

#confirm-org-logo {
    width: 50px;
    float: left;
    padding: 0 10px 0 0px;
}

.name-label {
    text-align: left !important;
}

form.aui .icon-required {
    position: none;
}

.field-group {
    display: flex;
}